.header__lang-link {
    padding: 0px;
    margin: 0px;
    align-self: center;
    display: flex;
    justify-content: space-between;
}
.header__lang-link :not(:last-child) {
    padding-right: 18px;
}
@media screen and (max-width: 100px) {
    .header__lang-link :not(:last-child) {
        padding-right: 5px;
    }
} 