.header__logo { 
    background-image: url(../../../images/header-logo.svg);
    width: 176px;
    height: 52px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    }
    @media screen and (max-width: 320px) {
        .header__logo {
            width: 142px;
        }
    } 
    @media screen and (max-width: 70px) {
        .header__logo {
            width: 20px;
        }
    } 