.footer__links {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}
@media screen and (max-width: 655px) {
    .footer__links {
        display: grid;
        grid-template-rows: auto;
    }
} 
@media screen and (max-width: 320px) {
    .footer__links {
        margin-bottom: 0px;
    }
} 



