.place__paragraph {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF; 
    margin: 0px;
    overflow-wrap: break-word;
    max-width: 484px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.place__paragraph :not(:last-child) { 
    padding-bottom: 26px;
}   


@media screen and (max-width: 768px) {
    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
        padding-bottom: 0px;
    }
}
@media screen and (max-width: 320px) {
    .place__paragraph {
        padding-bottom: 18px;
        max-width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media screen and (max-width: 189px) {
    .place__paragraph {
        font-size: 10px;
    }
}