.footer__copyright {
    display: flex;
    flex-direction: rows;
    justify-content: flex-end;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0px;
    box-sizing: border-box;
    width: auto;
    width: 100%;
    flex-wrap: nowrap;
}
.footer__copyright :nth-child(1) {
    display: flex;
    flex-wrap: nowrap;
}
@media screen and (max-width: 650px) {
    .footer__copyright {
        justify-content: flex-start;
        padding-top: 48px;
    }
} 
@media screen and (max-width: 320px) {
    .footer__copyright {
        justify-content: flex-start;
        padding-top: 48px;
    }
} 