.place__website_position_link {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 0px;
    padding-top: 12px;
}
.place__website_position_link:hover {
    opacity: 0.8;
}