.cover {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    max-width: 1184px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-self: center; 
    padding-top: 92px;
}
@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
    }
} 
@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        padding-top: 65px;
    }
} 
@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
        padding-top: 48px;
    }
} 