.place__link {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 0px;
    padding-top: 12px;
}
.place__link:hover {
    opacity: 0.8;
}
@media screen and (max-width: 320px) {
    .place__link {
        max-width: 288px;
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media screen and (max-width: 300px) {
    .place__link {
        max-width: 95%;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 10px;
    }
}