.place__url-heading {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media screen and (max-width: 320px) {
    .place__url-heading {
        max-width: 90%;
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media screen and (max-width: 188px) {
    .place__url-heading  {
        padding-left: 20px;
        padding-right: 20px;
    }
}
